{% extends 'index.html' %}
{% load static %}
{% block menu %}
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href={{curl}}Hdgeub7746h/profile/ ><img src="{{media_url}}{{filename}}" width="100" alt="Profile Picture"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href={{curl}}Hdgeub7746h/ >Home</a></li>
							<li><a href={{curl}}Hdgeub7746h/profile/ >Profile</a></li>
							<li><a href={{curl}}Hdgeub7746h/MyCourse/ >My Courses</a></li>
							<li><a href={{curl}}Hdgeub7746h/blog/  >My Blogs</a></li>
							<li><a href={{curl}}Hdgeub7746h/feedback/ >Feedbacks</a></li>
							<!-- <li class="has-dropdown"> -->
							<li class="active">	<a href={{curl}}Hdgeub7746h/comments/ >Comments</a></li>
								<!-- <ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li> 
								</ul> -->
							<!-- </li> -->
							<!-- <li><a href={{curl}}contact/ >Contact</a></li> -->
							<li><a href={{curl}} >Logout</a></li>
							<li class="btn-cta"><a href={{curl}}Hdgeub7746h/addcourse/ ><span>Create a Course</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
		
		{%endblock %}
{% block flexslide %}
{% endblock %}
{% block category %}
{% endblock %}
{% block counter %}
{% endblock %}
{% block course %}
	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>My Courses</h2>
					<p>Welcome To Student Assisted E-Learning</p>
				</div>
			</div>
			<font color="red" style="height:20px;">{{output}}</font>   
                    <font color="green" style="height:20px;">{{output1}}</font>
			<div class="row">
            {% for i in data %}
				<div class="col-md-6 animate-box">
					<div class="course">
						<a class="course-img" style="background-image: url('{{media_url}}{{i.0}}')">
						</a>
						<div class="desc">

							<h3><a href={{curl}}Hdgeub7746h/editcourse/ >{{i.1}}</a></h3>
							<p>{{i.2}}</p>
                            <p>Click Below To Check Comments</p>
							<span><a href={{curl}}Hdgeub7746h/coursepage?uid={{i.3}} class="btn btn-primary btn-sm btn-course">Check Comments</a></span>
							<!-- <input type="checkbox" id="course" name={{i.3}} value={{i.3}} > -->
						</div>
					</div>
				</div>
				{% endfor%}
				
				
				
			</div>
		</div>
	</div>
{% endblock %}
{% block test %}
{% endblock %}
{% block blog %}
{% endblock %}
{% block pricing %}
{% endblock %}
{% block offer %}
{% endblock %}
{% block footer %}
<footer id="fh5co-footer" role="contentinfo" style="background-image: url('{% static 'images/bg5.jpg' %}')">
		<div class="overlay"></div>
		<div class="container">
				<div class="row row-pb-md">
				<p color="white">All Rights Reserved. @Student-Assisted-E-Learning-Private-Limited</p>
			</div>
			</div>
	</footer>
{% endblock %}