{% extends 'login.html' %}
{%load static%}
{% block menu %}
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href={{curl}}><img src="{% static 'images/Mainlogo2.png' %}" width="100" alt="Logo"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href={{curl}}>Home</a></li>
							<li><a href={{curl}}course/ >Courses</a></li>
							<li><a href={{curl}}teacher/ >Teacher</a></li>
							<li><a href={{curl}}about/ >About</a></li>
							<li><a href={{curl}}pricing/ >Pricing</a></li>
							<li><a href={{curl}}blog/ >Blog</a></li>
							<li><a href={{curl}}contact/ >Contact</a></li>
							
							<li class="btn-cta"><a href={{curl}}login/ ><span>Login</span></a></li>
							
							<li class="btn-cta"><a href={{curl}}signupt/ ><span>Create a Course</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	{%endblock %}
{% block bgimg %}
		   	<li style="background-image: url('{% static 'images/bg3.jpg' %}');">
			   {% endblock %}

{%block heading%}
<h1 class="heading-section">Forget Password</h1>
    <h2>Welcome To Student Assisted E-Learning</h2>
    <h2>Journey Towards Your Future</h2>
    {%endblock %}
{% block content %}

            
      

<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Welcome to SAEP</h3>
						<ul>
							<li style="background-image: url('{% static 'images/bg3.jpg' %}');">
                            
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Enter Your Email</h3>
					<font color="green" style="height:20px;">{{output}}</font>
                    <font color="red" style="height:20px;">{{output1}}</font>         
<p> <form action={{curl}}forget/ method="POST">
{% csrf_token %}

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" class="form-control" placeholder="Your email address" name="email"  required>
							</div>
						</div>

						

						
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Send Email</button>
						</div>

					</form></p>	
				</div>
			</div>
			
		</div>
	</div>
        
            

    
{% endblock %}
{%block cat%}
{% endblock %}
{% block stats%}
{% endblock%}
{%block offer%}
{%endblock%}